<!--header start-->
<header class="header">
    <nav class="navbar navbar-inverse navbar-white navbar-fixed-top navbar-expanded">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">
                    <!--img src="assets/img/logo.png" class="img-responsive" alt=""-->
                    Hebert Romero
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-link-dark">
                    <li class="" >
                        <a href="#home">Inicio</a>
                    </li>
                    <li>
                        <a href="#about">Sobre mi</a>
                    </li>
                    <li>
                        <a href="#experience">Experiencia</a>
                    </li>
                    <li>
                        <a href="#education">Educación</a>
                    </li>
                    <!--li>
                        <a href="#portfolio">Portafolio</a>
                    </li>
                    <li>
                        <a href="#blog">Blog</a>
                    </li-->
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header end-->