<!--about section start-->
<div class="section-wrapper" id="about">
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="section-title text-center m-bot-0 p-top-0 p-bot-0 section-space wow- fadeInUp">
                        <h3 class="m-top-0">Sobre mi</h3>

                        <h1 class="title m-bot-50">Dejame contarte un poco de mi.</h1>
                    </div>

                    <div class="media about-info m-bot-100">
                        <div class="media-left about-thumb media-middle">
                            <a href="#">
                                <img alt="" class="media-object" src="assets/img/perfil.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Soy un desarrollador web. Actualmente me desempeño como  full stack developer con un buen conocimiento de técnicas front-end. Me encanta la estructura y el orden y también representan la calidad. Me encanta pasar tiempo en arreglar pequeños detalles y optimizar las aplicaciones web. También me gusta trabajar en equipo, aprenderás más rápido y más. Como dice el refrán: "dos cabezas son mejores que una"..</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4 class="text-uppercase font-bold">Perfil</h4>

                            <p></p>

                            <ul class="info-list list-unstyled">
                                <li>
                                    <label>Nombre:</label>
                                    <span>Hebert Romero S.</span>
                                </li>
                                <li>
                                    <label>Edad:</label>
                                    <span>30 años</span>
                                </li>
                                <li>
                                    <label>Cargo:</label>
                                    <span>Web Developer</span>
                                </li>
                                <li>
                                    <label>Website:</label>
                                    <span>www.hebertromero.com</span>
                                </li>
                                <li>
                                    <label>Linkedin:</label>
                                    <span><a href="https://www.linkedin.com/in/hebert-romero-bb067295/?ppe=1">Hebert Romero</a></span>
                                </li>
                                <li>
                                    <label>Email:</label>
                                    <span>contacto@hebertromero.com</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h4 class="text-uppercase font-bold">Habilidades</h4>

                            <p></p>

                            <!--progress bar start-->
                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 66%">
                                    <div class="skills-info">TRABAJO EN EQUIPO <span>100%</span></div>
                                </div>
                            </div>
                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 66%">
                                    <div class="skills-info">AUTODIDACTA<span>100%</span></div>
                                </div>
                            </div>
                            
                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 66%">
                                    <div class="skills-info">Web Development <span>90%</span></div>
                                </div>
                            </div>

                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 89%">
                                    <div class="skills-info">HTML & CSS <span>89%</span></div>
                                </div>
                            </div>

                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 83%">
                                    <div class="skills-info">PHP / LARAVEL / CODEIGNITHER <span>83%</span></div>
                                </div>
                            </div>

                            <div class="progress mild-progress-style">
                                <div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 76%">
                                    <div class="skills-info">ANGULAR 2 / IONIC FRAMEWORK 2 <span>76%</span></div>
                                </div>
                            </div>
                            <!--progress bar end-->

                        </div>
                    </div>
                    <div class="text-center m-top-50">
                        <a class="btn line-btn-dark btn-icon btn-radius" href="#" title=""><i
                                class="fa fa-download"></i> Descargar Perfil</a>
                    </div>
                </div>


            </div>


        </div>
    </section>
</div>
<!--about section end-->