<!--contact section start-->
<div class="section-wrapper" id="contact">
    <section class="section-space p-bot-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h1 class="title"> Contácto</h1>

                        <div class="sub-title"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-with-location">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-list text-center">
                            <div class="icon">
                                <i class="icon-map-pin"></i>
                            </div>
                            <div class="service-info">
                                <h4>Residencia</h4>

                                <p>
                                    <br>
                                    Bogotá, Colombia<br>
                                   
                                </p>
                                <br/>

                                <p>
                                    <abbr title="Phone">E:</abbr> sastoqueh@gmail.com <br/>
                                    <abbr title="Phone">P:</abbr> (051) 3143931660 <br/>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="contact-wrap">
                            <h3 class="text-left m-top-0">Escribeme</h3>

                            <form role="form" id="contactForm" class="contact-form" data-toggle="validator">
                                <div class="row">
                                    <div class=" col-md-6">
                                        <div class="form-group ">
                                            <input type="text" id="name" class="form-control" placeholder="Nombre"
                                                   required data-error="Porfavor ingrese su nombre">

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class=" col-md-6">
                                        <div class="form-group ">
                                            <input type="email" class="email form-control" id="email"
                                                   placeholder="Correo" required
                                                   data-error="Porfavor ingrese su correo">

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" id="msg_subject" class="form-control" placeholder="Asunto"
                                               required data-error="Porfavor ingrese el asunto">

                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <textarea id="mensaje" rows="7" placeholder="Massage" class="form-control"
                                                  required data-error="Escriba un mensaje"></textarea>

                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <button type="submit" id="submit" class="btn solid-btn-dark btn-radius">Enviar</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--maps start-->
            <!--<div id="map"></div>-->
            <!--maps end-->
        </div>
    </section>
</div>
<!--contact section end-->