<!--fun factor section start-->
<section class="section-space parallax parallax-funfactor light-txt">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="fun-box text-center">
                    <i class="icon-lightbulb"></i>

                    <div class="value" data-target="310">0</div>
                    <div class="title">Proyectos culminados</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="fun-box text-center">
                    <i class="icon-trophy"></i>

                    <div class="value" data-target="15">0</div>
                    <div class="title">Logros</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="fun-box text-center">
                    <i class="icon-wine"></i>

                    <div class="value" data-target="39018">0</div>
                    <div class="title">facebook like</div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="fun-box text-center">
                    <i class=" icon-beaker"></i>

                    <div class="value" data-target="2">0</div>
                    <div class="title">Proyectos en curso</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--fun factor section end-->