<!--experience section start-->
<div class="section-wrapper" id="experience">
    <section class="section-space section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h1 class="title text-uppercase"> Experiencia</h1>

                        <div class="sub-title"></div>
                    </div>
                    <section class="timeliner timeline-container">
                        <div class="timeline-block">
                            <div class="timeline-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="timeline-content">
                                <h2>150 porciento.</h2>
                                <span class="text-muted">Desarrollador web</span>

                                <p>Desarrolle aplicaciones web en Laravel, Codeigniter y aplicaciones
                                hibridas en Angular, Ionic framework.</p>
                                <span class="cd-date">Septiempre 2016 - Mayo 2017</span>
                            </div>
                        </div>

                        <div class="timeline-block clearfix">
                            <div class="timeline-icon">
                                <i class="fa fa-times"></i>
                            </div>

                            <div class="timeline-content">
                                <h2>Icell</h2>
                                <span class="text-muted">Backend developer</span>

                                <p>Trabaje en el desarrollo de aplicaciones internas para la compañia, y en
                                el desarrollo de aplicaciones hibridas Angular, ionic framework.</p>
                                <span class="cd-date">Junio 2016 - Agosto 2016 </span>
                            </div>
                        </div>

                        <div class="timeline-block clearfix">
                            <div class="timeline-icon ">
                                <i class="fa fa-times"></i>
                            </div>

                            <div class="timeline-content">
                                <h2>Saylor Consulting</h2>
                                <span class="text-muted">Desarrollador web</span>

                                <p>Me desempeñe como desarrollador backend en el desarrollo de una plataforma
                                de servicios turisticos, desarrollada en PHP, JS, JQUERY, HTML5. </p>
                                <span class="cd-date">Enero 2015- Mayo 2016</span>
                            </div>
                        </div>

                        

                    </section>

                    <!--education start-->
                    <div class="section-wrapper" id="education">
                        <div class="section-title m-top-100 text-center">
                            <h1 class="title text-uppercase"> Educación</h1>

                            <div class="sub-title"></div>
                        </div>
                        <section class="timeliner timeline-container">
                            <div class="timeline-block">
                                <div class="timeline-icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>

                                <div class="timeline-content">
                                    <h2>Tecnologo en desarrollo de software </h2>
                                    <span class="text-muted">Universidad Uniagustiniana.</span>

                                    <p></p>
                                    <span class="cd-date">2015 - 2017</span>
                                </div>
                            </div>

                            <div class="timeline-block clearfix">
                                <div class="timeline-icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>

                                <div class="timeline-content">
                                    <h2>Certificación desarrollo web</h2>
                                    <span class="text-muted">Cymetria traning.</span>

                                    <p> HTML5, CSS3, JS.</p>
                                    <span class="cd-date">2015 </span>
                                </div>
                            </div>

                            <div class="timeline-block clearfix">
                                <div class="timeline-icon ">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>

                                <div class="timeline-content">
                                    <h2>Certificación desarrollo Android</h2>
                                    <span class="text-muted">Cymetria traning.</span>

                                    <p>Certificación desarrollo en Android nivel intermedio.</p>
                                    <span class="cd-date">2016</span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--education end-->

                </div>
            </div>
        </div>
    </section>
</div>
<!-- experience section end-->
