<!--parallax section start-->
<section class="section-space parallax parallax-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 light-txt text-right wow fadeInLeft">
                <h2 class="m-top-0">Te gustaria trabajar conmigo?</h2>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInRight">
                <a href="#" class="btn line-btn-light btn-radius">Contáctame</a>
            </div>

        </div>
    </div>
</section>
<!--parallax section end-->